@import "../../../../../../../stylesheets/backoffice";


$type-colors: (
  string: $color-text,
  number: $color-text-invert-light,
  boolean: $color-text-invert-light,
  date: $color-text-invert-light,
  array: $color-text,
  object: $color-text,
  function: $color-text,
  'null': $color-text-invert,
  undefined: $color-text-invert
);

@each $type, $color in $type-colors {
  ::ng-deep .segment-type-#{$type} > .segment-main > .segment-value {
    color: $color !important;
  }
}

::ng-deep .segment-main > .segment-key {
  color: $color-text-dark !important;
}

::ng-deep .segment-main > .segment-value {
  font-size: $font-size-text-small !important;
  font-family: "courier", serif;
}
