<div class="mat-tree-node feature">
  <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + currentNode.data.name">
    <mat-icon class="mat-icon-rtl-mirror">
      {{ nestedTreeControl.isExpanded(currentNode) ? 'expand_more' : 'chevron_right' }}
    </mat-icon>
  </button>
  <ul class="flex-container flex-direction-column flex-align-items-start">
    <li>
      <span class="feature level{{ currentNode.level }}">{{ currentNode.data.name }}</span>
      <a href="{{ url }}#{{ currentNode.nodeId }}" class="bookLink">
    <li class="fas fa-link fa-sm"></li>
    </a>
    </li>
  </ul>
</div>
