@import "../../../../stylesheets/_backoffice.scss";

.level1 {
  font-size: $font-size-h3;
}

.level2 {
  font-size: $font-size-h4;
}

.level3 {
  font-size: $font-size-h5;
}

.level4 {
  font-size: $font-size-h6;
}

.level5 {
  font-size: $font-size-h7;
}

.level6 {
  font-size: $font-size-h8;
}

.level7 {
  font-size: $font-size-h9;
}

.feature {
  margin-top: 5px;
  font-size: $font-size-h4;
}

.feature-description {
  margin-top: 5px;
  font-size: $font-size-text;
}
