@import '_colors.scss';

/* Backoffice style */

$header-height: 75px;
$footer-height: 17px;
$menu-width: 350px;
$margin-left: 25px;
$total-header-footer-height: 92px;

$min-width: 1200px;

$font-size-h1 : 30px;
$font-size-h2 : 26px;
$font-size-h3 : 24px;
$font-size-h4 : 22px;
$font-size-h5 : 20px;
$font-size-h6 : 19px;
$font-size-h7 : 18px;
$font-size-h8 : 17px;
$font-size-h9 : 16px;
$font-size-text : 16px;
$font-size-text-small: 15px;
$font-size-text-x-small: 10px;
$font-size-text-big: 22px;
$font-family: Roboto, "Helvetica Neue", sans-serif;

html, body {
  height: 100%;
  width: 100%;
  background-color: $color-background;
  color: $color-text;
  font-size: $font-size-text;
  font-family: $font-family;
  margin: 0;
  overflow: hidden;
}

a {
  color: $custom-color-dark;
  cursor: pointer;
  text-decoration: underline;
}

.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: $color-text;
}

h1{
  color: $custom-color-dark;
}
h2{
  color: $custom-color-dark;
}
h3{
  color: $custom-color-dark;
}
h4{
  color: $custom-color-main;
}
h5{
  color: $custom-color-main;
}
h6{
  color: $custom-color-main;
}
h7{
  color: $custom-color-main;
}
h8{
  color: $custom-color-main;
}
