$color-main: #2b709a;
$color-background: white;
$color-header-background: #fcfeff;
$color-text: #1A284D;
$color-text-light: #b3cedb;
$color-text-lighter: #e0e4e5;
$color-text-opposite: #eff1f2;
$color-text-invert: #F56026;
$color-text-invert-light: #d69c4f;
$color-link: #df5726;
$color-link-over: #F56026;
$color-text-dark: #171A34;
$color-text-darker: #111123;
$color-border: #D3D6DA;
$color-border-light: #E6E9ED;
$color-border-lighter: #eef1f5;
$color-disabled: #b7babe;
$color-link-active: #9fcdff;
$color-selected-item: $color-text-invert;
$color-grey: #1A284D;
$color-border: rgba(0, 0, 0, 0.12);
