$color-background: white;
$color-header-background: #fcfeff;
$color-text: #505357;
$color-text-light: #b3cedb;
$color-text-lighter: #e0e4e5;
$color-text-opposite: #eff1f2;
$color-text-invert: #F56026;
$color-text-invert-light: #d69c4f;
$color-link: $color-text-invert;
$color-text-dark: #0D2434;
$color-text-darker: #0B1321;
$color-border: #D3D6DA;
$color-border-light: #E6E9ED;
$color-border-lighter: #eef1f5;
$color-disabled: #b7babe;
$color-link-active: #9fcdff;
$color-selected-item: $color-text-invert;
$color-border: rgba(0, 0, 0, 0.12);


:root {
  --custom-color-dark:  #b3cedb;
  --custom-color-main: #b3cedb;
  --custom-color-light:  #b3cedb;

}
$custom-color-dark: var(--custom-color-dark);
$custom-color-main: var(--custom-color-main);
$custom-color-light: var(--custom-color-light);
