
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-align-items-center {
  align-items: center;
}

.flex-align-items-baseline {
  align-items: last-baseline;
}

.flex-align-items-end {
  align-items: flex-end;
}

.flex-align-items-start {
  align-items: start;
}

.flex-nowrap  {
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.flex-space-between  {
  justify-content: space-between;
}

.flex-wrap    {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-wrap-reverse         {
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

