
<app-header logoRouterLink="app" logoSrc="assets/images/logo.png" appTitle="Generate your project documentation from your feature files"  ></app-header>


<div >

   <ul  class="flex-container flex-direction-row">
     <li>
       <app-menu>
         <app-menu-item routerlink="app/documentation/generate" icon="fa-book" label="Generate documentation"></app-menu-item>
         <app-menu-item routerlink="app/admin" icon="fa-wrench" label="Administration"></app-menu-item>
       </app-menu>
     </li>

     <li>
         <router-outlet></router-outlet>
     </li>

   </ul>


</div>

