@import "flex";

.page {
  display:flex;
  flex-direction:column;
  height: 100%;
}

.content {
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
}

footer {
  display: block;

  @media screen and (max-width: 600px) {
    display: none;
  }

}

