<li class="flex-container flex-direction-column flex-align-items-start">
  <ul>
    <app-header logoRouterLink="app" logoSrc="assets/images/logo.png"
                appTitle="is taking care of your features"></app-header>
  </ul>
  <ul>
    <app-menu>
      <app-menu-item routerlink="app/documentation/generate" icon="fa-book"
                     label="Generate documentation"></app-menu-item>
      <app-menu-item routerlink="app/search" icon="fa-search" label="Search" [implemented]="false"></app-menu-item>
      <app-menu-item routerlink="app/dashboard" icon="fa-tasks" label="Dashboard" [implemented]="false"></app-menu-item>
      <app-menu-item routerlink="app/admin" icon="fa-wrench" label="Administration"
                     [implemented]="false"></app-menu-item>
      <app-menu-item routerlink="app/profile" icon="fa-user" label="Profile" [implemented]="false"></app-menu-item>
    </app-menu>
  </ul>
  <ul>
    <router-outlet></router-outlet>
  </ul>
  <ul>
    <app-footer></app-footer>
  </ul>
</li>


