@import "backoffice";
.page {
  display: grid;
  grid-template-columns: minmax(300px, 20%) 1fr;
  grid-template-areas:
    "sidebar content";
  width: 100%;
  height: 100%;
}

.side-nav {
  grid-area: sidebar;
  border-right: 1px solid $color-border;
  padding-top: 10px;
  overflow: auto;
}

.content {
  grid-area: content;
}
