@import "backoffice";

.page {
  display: grid;
  grid-template-columns: minmax(300px, 20%) 1fr;
  grid-template-areas: "sidebar content";
  width: 100%;
  height: 100%;

  @media screen and (max-width: 600px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "content";
  }
}

.side-nav {
  grid-area: sidebar;
  border-right: 1px solid $color-border;
  padding: 10px;
  overflow: auto;
  background-color: $custom-color-light;

  @media screen and (max-width: 600px) {
    display: none;
  }

}

.content {
  grid-area: content;
  overflow: auto;

  @media screen and (max-width: 600px) {
    grid-column: 1 / span 2;
  }
}
