@import "../../../../../../stylesheets/backoffice";

.documentation-tree-invisible {
  display: none;
}

.documentation-tree ul,
.documentation-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.pull-right{
  margin-left: 5px;
  padding-left: 5px;
}

.documentationNode {
  color: $color-text-dark;
}

.level1 {
  font-size: $font-size-h1;
}

.level2 {
  font-size: $font-size-h2;
}

.level3 {
  font-size: $font-size-h3;
}

.level4 {
  font-size: $font-size-h4;
}

.level5 {
  font-size: $font-size-h5;
}

.level6 {
  font-size: $font-size-h6;
}

.level7 {
  font-size: $font-size-h7;
}

.project, .branch, .feature, .scenario, .step, .table{
  color: $color-text-darker;
}

.project{
  font-size: $font-size-h3;
}


.branch {
  font-family: "courier";
  font-size: $font-size-text-x-small;
  width: 50%;
  padding-left: 10px;
}

.feature{
  margin-top: 5px;
  font-size: $font-size-h4;
}

.background {
  padding-left: 50px;
}



.scenario{
  margin-top: 6px;
  font-size: $font-size-h5;
}

.tag{
  color: $color-text-invert;
  font-weight: lighter;
  padding-right: 4px;
  font-size: $font-size-text-big;
}

.tags{
  font-style: italic;
  font-weight: lighter;
  font-size: $font-size-text-x-small;
  font-family: "courier";
  color: $color-text-darker;
}

.steps{
  margin-top: 2px;
  margin-bottom: 2px;
}

.step{
  margin-top: 6px;
  font-size: $font-size-text;
}

.table{
  margin-top: 2px;
}

.stepKeyword{
  font-weight: 600;
  color: $color-text-dark;
}

.stepParameter{
  background-color: $color-text-lighter;
  color: $color-text;
  font-size: $font-size-text;
  font-weight: 500;
}

.stepText{
  color: $color-text-dark;
}

.bookLink {
  color: $color-border-light;
  cursor: pointer;
  text-decoration: none;
  padding-left: 5px;
}

.bookLink li {
  height: 10px;
}

