@import "../../../../../stylesheets/backoffice";

.book-table {
  width: 100%;
}

.book-header-cell, .book-cell {
  align-items: start;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.book-header-cell {
  background-color: $color-text-lighter;
  color: $color-text;
  font-size: $font-size-text-small;
  font-family: $font-family;
  font-weight: 500;
}

.book-cell {
  background-color: $color-background;
  color: $color-text;
  font-size: $font-size-text-small;
  font-family: $font-family;
  font-weight: 300;

  border-right: 1px dotted $color-border-light;

}

.book-row, .book-header-row {
  min-height: 16px;
}


.mat-table {
  display: table;
  width: 100%;

  > .mat-header-row, > .mat-row {
    display: table-row;
    padding-left: 2px;
    padding-right: 2px;
    border: none;

    > .mat-header-cell, > .mat-cell {
      display: table-cell;
      height: 30px;
      vertical-align: middle;

      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
  }
}
