@import '_backoffice.scss';

a {
  text-decoration: none;
}

.bold {
  font-weight: bold;
  color: $custom-color-dark;
}

.active {
  font-weight: bold;
  color: $custom-color-dark;
}

.default {
  color: $color-text-darker;
}

.menu-link {
  margin: 0;
  display: flex;
  align-items: center;
}

ul {
  padding: 0;
}

.collapse-icon {
  font-size: 10px;
  padding-right: 8px;
}

.item {
  cursor: pointer;
  padding: 4px 10px;
  display: flex;
  width: auto;
  font-size: $font-size-text;
}

.item-text {
  padding-right: 3px;
  line-height: 20px;
}

.options {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0;
  margin-left: 30px;
  font-family: "courier", serif;
  font-size: $font-size-text-small;
}

.branch-select {
  width: 100%;
}
