<a [ngStyle]="{'padding-left': ((menuItem.depth+1) * 12) + 'px'}"
   [ngClass]="active ? 'active': ''"
   (click)="navigateToItem()"
   class="item"
  >
  <ul class="flex-container flex-direction-row flex-align-items-center flex-space-between flex-width-expand">
    <span class="item-text">{{ menuItem.label }}</span>
    <mat-icon *ngIf="menuItem.children.length>0" [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
      expand_more
    </mat-icon>
  </ul>
</a>

<div *ngIf="expanded">

  <div *ngIf="menuItem.type==='Project'; then projectBlock else nodeBlock"></div>

  <ng-template #nodeBlock>
    <app-navigate-menu-item *ngFor="let child of menuItem.children" [menuItem]="child"></app-navigate-menu-item>
  </ng-template>

  <ng-template #projectBlock>
    <div class="options" [ngStyle]="{'padding-left': ((menuItem.depth+1) * 12) + 'px'}">
      <mat-form-field>
        <mat-label>Branch</mat-label>
        <mat-select placeholder="Stable branch by default" [(value)]="selectedBranch">
          <mat-option *ngFor="let branch of menuItem.children" [value]="branch">
            {{ branch.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="selectedBranch && selectedBranch.children && selectedBranch.children[0]">
      <app-navigate-menu-item [menuItem]="selectedBranch.children[0]"></app-navigate-menu-item>
    </div>
  </ng-template>
</div>
