@import '_backoffice.scss';

.bold {
  color: $color-text-darker;
  font-weight: bold;
}

.active {
  color: $color-selected-item;
}

.default {
  color: $color-text-darker;
}

.menu-link {
  margin: 0;
  display: flex;
  align-items: center;
}

ul {
  padding: 0;
}

.collapse-icon {
  font-size: 10px;
  padding-right: 8px;
}

.item {
  cursor: pointer;
  padding: 3px 10px;
  display: flex;
  width: auto;
  font-size: $font-size-text-small;
}

.item-text {
  padding-right: 3px;
  line-height: 20px;
}

.options {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0;
  margin-left: 30px;
  font-family: "courier", serif;
  font-size: $font-size-text-small;
}

.branch-select {
  width: 100%;
}

::ng-deep .mat-form-field {
  font-size: $font-size-text-x-small  !important;
}

::ng-deep .mat-form-field-appearance-legacy {
  padding-top: 0px  !important;
  padding-bottom: 2px  !important;
}
::ng-deep .mat-form-field-infix {
  padding-top: 0px  !important;
  padding-bottom: 2px  !important;
}

::ng-deep .mat-form-field-wrapper {
  padding-top: 0em  !important;
  padding-bottom: 1.2em  !important;
}
