@import '~@angular/material/theming';
@import '_backoffice.scss';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker hue.
$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-green);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

.bold {
  font-weight: bold;
}

.menu-link {
  margin: 0;
  display: flex;
  align-items: center;
//  -container flex-direction-row flex-align-items-center flex-space-between flex-width-expand
}

ul {
  padding: 0;
}

.collapse-icon {
  font-size: 10px;
  padding-right: 8px;
}

.active {
  color: $color-selected-item;
}

.item {
  cursor: pointer;
  padding: 3px 10px;
  display: flex;
  width: auto;
  //background-color: $color-text-lighter;
  font-size: $font-size-text-small;
}

.item-text {
  padding-right: 3px;
  line-height: 20px;
  color: $color-text-darker;
}

.options {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 13px;
  font-family: "courier", serif;
  font-size: $font-size-text-small;
}

.expanded, .options {
  //background-color: $color-border-lighter;
}

.selected {
  background-color: $color-text-light;
}

@media (max-width: 720px) {
  .docs-component-viewer-sidenav-container {
    flex: 1 0 auto;
  }
}
