@import "../../../../stylesheets/backoffice";

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 3px;
  height: $footer-height;

  border-top: 1px solid rgba(0, 0, 0, 0.12);
  background-color: white;


  font-size: $font-size-text-x-small;
}

.footer-logo {
  height: 20px;
  padding-left: 2px;
  padding-right: 2px;
}



