@import "../../../../stylesheets/backoffice";

.footer {
  width: 100%;
  padding-top: 3px;
  height: $footer-height;

  border-top: 1px solid $color-main;
  background-color: white;
}

.footer-text img {
  height: 20px;
  padding-left: 2px;
  padding-right: 2px;
}

.footer-text {
  font-size: $font-size-text-x-small;
}



