<div *ngIf="scenarios.background" class="background">
  <div class="background-title">Preconditions</div>
  <ul class="flex-container flex-direction-column flex-align-items-start">
    <li *ngFor="let step of scenarios.background.steps">
      <app-gherkin-step [step]="step"></app-gherkin-step>
    </li>
  </ul>

</div>

<div *ngFor="let scenario of scenarios.scenarios; let isLast=last" class="scenario">
  <div class="scenario-title">
    <i *ngIf="scenario.abstractionLevel.startsWith('level_0')" class="tag fas fa-graduation-cap fa-sm"
       title="High level of abstraction"></i>
    <i *ngIf="scenario.abstractionLevel.startsWith('level_2')" class="tag fas fa-cogs fa-sm"
       title="Technical details"></i>
    <i *ngIf="scenario.caseType.startsWith('error')" class="tag fas fa-times-circle fa-sm"
       title="Error case"></i>
    <i *ngIf="scenario.caseType.startsWith('limit')" class="tag fas fa-exclamation-triangle fa-sm"
       title="Limit case"></i>
    {{scenario.name}}
  </div>
  <ul class="flex-container flex-direction-row flex-align-items-start">
    <li class="steps">
      <div *ngFor="let step of scenario.steps">
        <ul class="flex-container flex-direction-column flex-align-items-start">
          <li>
            <app-gherkin-step [step]="step"></app-gherkin-step>
          </li>
        </ul>
      </div>
    </li>
    <li *ngIf="scenario.examples" class="examples">
      <div class="step">
        <span class="stepKeyword">Examples</span>&nbsp;
      </div>
      <div class="table pull-right">
        <app-gherkin-table [table]="scenario.examples"></app-gherkin-table>
      </div>
    </li>
  </ul>
  <hr *ngIf="!isLast"/>
</div>
