<h1 [id]="scenarios.id">{{scenarios.name}}</h1>

<app-gherkin-background *ngIf="scenarios.background" [background]="scenarios.background"></app-gherkin-background>

<div *ngFor="let scenario of scenarios.scenarios">
  <ul class="flex-container flex-direction-row flex-align-items-start">
    <li *ngIf="scenario.abstractionLevel.startsWith('level_0')" class="tag fas fa-graduation-cap fa-sm "
        title="High level of abstraction"></li>
    <li *ngIf="scenario.abstractionLevel.startsWith('level_2')" class="tag fas fa-cogs fa-sm "
        title="Technical details"></li>
    <li *ngIf="scenario.caseType.startsWith('error')" class="tag fas fa-times-circle fa-sm "
        title="Error case"></li>
    <li *ngIf="scenario.caseType.startsWith('limit')" class="tag fas fa-exclamation-triangle fa-sm "
        title="Limit case"></li>
    <li class="steps">
      <div *ngFor="let step of scenario.steps">
        <ul class="flex-container flex-direction-column flex-align-items-start">
          <li>
            <app-gherkin-step [step]="step"></app-gherkin-step>
          </li>
        </ul>
      </div>
    </li>
    <li *ngIf="scenario.examples">
      <div class="step">
        <span class="stepKeyword">Examples</span>&nbsp;
      </div>
      <div class="table pull-right">
        <app-gherkin-table [table]="scenario.examples"></app-gherkin-table>
      </div>
    </li>
  </ul>
</div>
