@import "_colors.scss";

.mat-table {
  display: table;
  width: 100%;
  margin: 20px 30px;
  box-shadow: 2px 0px 8px 1px rgba(0, 0, 0, .12);
}

.book-header-cell {
  color: $color-text-darker;
  word-break: break-all;
  justify-content: center;
}

.book-cell {
  color: $color-text-darker;
  word-break: break-all;
  justify-content: center;
}
