@use '~@angular/material' as mat;
@import "../../../../stylesheets/backoffice";

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker hue.
$app-primary: mat.define-palette(mat.$indigo-palette);
$app-accent: mat.define-palette(mat.$green-palette);

// The warn palette is optional (defaults to red).
$app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat.define-light-theme($app-primary, $app-accent, $app-warn);

:host {
  display: flex;
  flex-direction: column;
  outline: none;
  width: 100%;

  .mat-list-item.active {
    background-color: mat.get-color-from-palette($app-primary, 50);
  }

  &:hover,
  &:focus {
    > .mat-list-item:not(.expanded) {
      background-color: mat.get-color-from-palette($app-primary, 100) !important;
    }
  }
}

a {
  cursor: pointer;
}
