@import "../../../../../stylesheets/colors";

.title {
  padding: 10px;
}

.criterias-tree-invisible {
  display: none;
}

.criterias-tree ul,
.criterias-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.hierarchyNode {
  color: $color-text;
}

.pull-right {
  margin-left: 25px;
  padding-left: 25px;
}

.project {
  font-family: "courier";
  color: $color-text;
}


