

.menu-item{
  width: 100%;
  border-top-color: #1F7079;
  border-top-style: solid;
  border-top-width: 1px;

  border-bottom-color: #1F7079;
  border-bottom-style: solid;
  border-bottom-width: 1px;


}
li {

  position: relative;
  display: block;


  a {
    position: relative;
    display: block;

    text-align: center !important;
    font-weight: 400;
    font-size: 10px;
    padding: 10px 5px;
  }

  a svg {
    font-size: 25px !important;
    text-align: center;
    width: 100% !important;
    margin-bottom: 5px;
  }

  > a {
    margin-bottom: 6px;
  }

  a:hover {
    color: #10353d;
  }

}

.active {
  position: relative;
  display: block;

  background-color: #1F7079;
  a {
    color: white;
  }
  a:hover {
    color: white;
  }
}

li > a:hover,
li > a:focus {
  text-decoration: none;
  background: transparent
}
