@import "backoffice";

.page {
  display: grid;
  grid-template-columns: minmax(300px, 20%) 1fr;
  grid-template-areas: "sidebar content";
  width: 100%;
  height: 100%;

  @media screen and (max-width: 600px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "content";
  }
}

.content {
  grid-area: content;
  overflow: auto;
  margin-top: 3em;
  margin-left: 2em;

  @media screen and (max-width: 600px) {
    grid-column: 1 / span 2;
  }
}

.title {
  margin-left: 1em;
}

