<div class="step">
  <span class="stepKeyword">{{ step.keyword }}</span>&nbsp;
  <span [class.stepParameter]="fragment.isParameter"
        [class.stepText]="! fragment.isParameter"
        *ngFor="let fragment of textFragments">{{ fragment.text }}</span>
</div>
<div *ngIf="table" class="table pull-right">
  <app-gherkin-table [table]="table"></app-gherkin-table>
</div>
<div *ngIf="longText" class="table pull-right">
  <app-gherkin-long-text [longText]="longText"></app-gherkin-long-text>
</div>
