@import "../../../../stylesheets/backoffice";

.header {
  width: 100%;
  height: $header-height;
  flex-direction: row;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  background-color: $custom-color-main;
  border-bottom-color:  $custom-color-main;
}

.header-bar {
  display: flex;
  align-items: flex-end;
  margin: 0;
  padding: 10px;
  list-style-type: none;
  flex-wrap: wrap;
}

.header-logo, .header-navigation, .header-search, .header-logo-the-gardener {
  flex: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.header-search{
  padding-bottom: 7px;
}

.header-logo-text {
  color: white;
  font-size: $font-size-text-small;
}

.header-logo {
  flex-grow: 1;
}

.header-logo img {
  height: 30px;
}


.header-logo-the-gardener {
  color: white;
  margin-right: 10px;
  margin-top: 3px;
  text-align: right;
  flex-grow: 0;

  @media screen and (max-width: 600px) {
    display: none;
  }
}

.header-logo-the-gardener div {
  font-size: $font-size-text-x-small;
}

.header-logo-the-gardener img {
  height: 40px;
}

.header-navigation-bar {
  display: flex;
  padding: 0;
  width: 50%;
  margin: 0 20%;
  align-self: center;
  justify-content: space-around;

}

.navigation-icon {
  display: none;

  @media screen and (max-width: 600px) {
    display: block;
    padding-right: 15px;
    align-self: center;
  }

}

.header-navigation{
  padding-bottom: 13px;
}

.header-navigation a {
  transition: all 0.3s ease; /* Add transition for hover effects */
  text-decoration: none;
  line-height: 18px;
  font-size:18px;
  color: white;
  padding: 0 32px 5px;

  @media screen and (max-width: 600px) {
    display: none;
  }
}

.header-navigation-responsive {
  list-style: none;
}
.header-navigation-responsive a {
  text-decoration: none;
}

.item-with-hover:hover {
  text-shadow: -0.02ex 0 white, 0.02ex 0 white;
}

.header-navigation .active {
  font-weight: 600;
  border-bottom: 2px solid white;
}

.align-left {
  text-align: left;
}

.mat-mdc-select-panel {
  background: white;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent;
}

.mat-mdc-select {
  font-family: $font-family;
  font-size: $font-size-text-small;
  text-align: center;
}

.header-translate {
  margin-right: 20px;
  margin-left: 20px;
  align-self: flex-end;

  mat-form-field{
    margin-bottom: -0.7em;
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
    ::ng-deep .mat-form-field-flex{
      background:white;
      border-radius: 5px;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
    ::ng-deep .mat-form-field-infix{
      width: 120px;
      border-top: none;
      padding: 0.55em 0;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
    ::ng-deep .mat-form-field-wrapper{
      padding-bottom: 1.2em;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
    ::ng-deep .mat-form-field-underline{
      background:none;
    }
  }

}
