<div class="header">

  <ul class="header-bar">
    <li class="header-logo">
      <img [src]="logoSrc" alt="Organisation logo">
      <div *ngIf="appTitle">{{ appTitle }}</div>
    </li>


    <div class="header-navigation">
      <a *ngFor="let item of items" routerLink="app/documentation/navigate/{{item.route}}/" routerLinkActive="active">{{ item.displayName }}</a>
    </div>

    <li class="header-logo-the-gardener">
      <div>Powered by</div>
      <a href="https://kelkoogroup.github.io/theGardener/"><img src="assets/images/logo.png" alt="Logo"></a>
    </li>
  </ul>

</div>

