@import "../../../../stylesheets/backoffice";

.header {
  width: 100%;
  height: 115px;
  flex-direction: row;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: $color-main;
  background-color: $color-main;
}

.header-bar {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 10px 20px 0;
  list-style-type: none;
  flex-wrap: wrap;
}

.header-logo, .header-navigation, .header-logo-the-gardener {
  flex: 1;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
}

.header-logo {
  flex-grow: 1;
}

.header-logo img {
  height: 40px;
}

.header-logo div {
  color: white;
  font-size: $font-size-text-big;
  margin-bottom: 3px;
}

.header-logo-the-gardener {
  color: white;
  margin-right: 10px;
  margin-top: 3px;
  text-align: right;
  flex-grow: 0;
}

.header-logo-the-gardener div {
  font-size: $font-size-text-x-small;
}

.header-logo-the-gardener img {
  height: 40px;
}

.header-navigation {
  display: flex;
}

.header-navigation-bar {
  display: flex;
  padding: 0;
  width: 50%;
  margin: 0 20%;
  align-self: center;
  justify-content: space-around;

}

.header-navigation a {
  transition: all 0.3s ease; /* Add transition for hover effects */
  text-decoration: none;
  line-height: 18px;
  color: white;
  padding: 0 32px 5px;
}

.item-with-hover:hover {
  text-shadow: -0.02ex 0 white, 0.02ex 0 white;
}

.header-navigation .active {
  font-weight: bold;
  font-size: 22px;
  border-bottom: 2px solid white;
}

.align-left {
  text-align: left;
}
