@import "../../../../stylesheets/backoffice";

.header {
  width: 100%;
  min-height: 60px;
  flex-direction: row;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: $color-main;
}

.header-logo img {
  height: 50px;
}

.header-title div {
  min-height: 28px;
  padding-top: 40px;
  font-size: $font-size-text;
}


