<mat-progress-spinner *ngIf="!page"></mat-progress-spinner>

<div id="top-page" class="top">&nbsp;</div>

<div *ngIf="page" class="markdown-container">

  <h1 *ngIf=page.title id="page-title">{{ page.title }}</h1>

  <div *ngFor="let part of page.parts">
    <div [ngSwitch]="part.type">
      <div *ngSwitchCase="'markdown'">
        <div class="markdown" [innerHTML]="getMarkdown(part) | markdown | internalLink | anchor | removehtmlsanitizer "></div>
      </div>
      <div *ngSwitchCase="'includeExternalPage'">
        <iframe [src]="getExternalLink(part) | safe" scrolling="yes"
                title="External Link"></iframe>
      </div>
      <div *ngSwitchCase="'scenarios'">
        <div class="scenario">
          <app-gherkin [scenarios]="getScenario(part)"></app-gherkin>
        </div>
      </div>
      <div *ngSwitchCase="'openApi'">
        <div class="openApi">
          <app-open-api-model [openApiModule]="getOpenApiModel(part)"></app-open-api-model>
        </div>
      </div>
      <div *ngSwitchCase="'openApiPath'">
        <div class="openApiPath">
          <app-open-api-end-points [openApiPathJson]="getOpenApiPaths(part)" [position]="getPosition(part)"></app-open-api-end-points>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="page.sourceUrl" class="view-source">
    <a [href]="page.sourceUrl" target="_blank">View source <i class="fas fa-external-link-alt"></i></a>
  </div>

</div>
<app-open-api-end-points></app-open-api-end-points>
