<mat-progress-spinner *ngIf="!page"></mat-progress-spinner>
<div *ngIf="page" class="markdown-container">
  <div *ngIf="page.externalLink; else markdownBlock" class="markdown-container">
    <iframe *ngIf="page.externalLink" [src]="page.externalLink | safe" scrolling="yes" title="External Link"></iframe>
  </div>

  <ng-template #markdownBlock>
    <h1 class="page-title">{{ page.description }}</h1>
    <div class="markdown" markdown *ngIf="page.markdown" [data]="page.markdown"></div>
  </ng-template>
</div>
