<mat-progress-spinner *ngIf="!page"></mat-progress-spinner>
<div *ngIf="page" class="markdown-container">
  <h1 *ngIf=page.title class="page-title">{{ page.title }}</h1>
  <div *ngFor="let part of page.parts">
    <div [ngSwitch]="part.type">
      <div *ngSwitchCase="'markdown'">
        <div class="markdown" [innerHTML]="getMarkdown(part) | markdown | internalLink | removehtmlsanitizer "></div>
      </div>
      <div *ngSwitchCase="'includeExternalPage'">
        <iframe [src]="getExternalLink(part) | safe" scrolling="yes"
                title="External Link"></iframe>
      </div>
      <div *ngSwitchCase="'scenarios'">
        <div class="scenario">
          <app-gherkin [scenarios]="getScenario(part)"></app-gherkin>
        </div>
      </div>
    </div>
  </div>
</div>
