@(project: String, feature: Feature)

@main("Feature") {
    <div id="@{feature.id.replace("/", "_").replace(".", "_")}">
        Project: @project<br/>
        Branch: @feature.branchId<br/>

        @feature.tags.mkString(" ")<br/>
        <strong>@feature.keyword</strong>: @feature.name<br/>
        @Html(feature.description.replace("\n", "<br/>"))<br/>
        <br/>

        @for(scenario <- feature.scenarios) {
            <div id="Scenario_@scenario.id">
                @{
                    scenario match {
                        case _: Background =>
                        case s: Scenario => s"Abstraction level: ${s.abstractionLevel}, case: ${s.caseType}, step: ${s.workflowStep}"
                        case s: ScenarioOutline => s"Abstraction level: ${s.abstractionLevel}, case: ${s.caseType}, step: ${s.workflowStep}"
                    }
                } <br/>
            <strong>@scenario.keyword:</strong>
                @scenario.name <br/>
                @Html(scenario.description.replace("\n", "<br/>")) <br/>

                @for(step <- scenario.steps) {
                    <div id="Step_@step.id">
                        <strong>@step.keyword:</strong>
                        @step.text
                        @if(step.argument.nonEmpty) {
                            <table>
                            @for(line <- step.argument) {
                                <tr>
                                @for(raw <- line) {
                                    <td>@raw</td>
                                }
                                </tr>
                            }
                            </table>
                        }
                    </div>
                }

                @if(scenario.isInstanceOf[ScenarioOutline]) {
                    @defining(scenario.asInstanceOf[ScenarioOutline].examples) { examples =>
                        @for(example <- examples) {
                            <div id="Example_@example.id">
                                @example.tags.mkString(" ") <br/>
                            <strong>@example.keyword:</strong>
                                @Html(example.description.replace("\n", "<br/>")) <br/>
                            <table>
                                <tr>
                                @for(raw <- example.tableHeader) {
                                    <th>@raw</th>
                                }
                                </tr>

                                @for(line <- example.tableBody) {
                                    <tr>
                                    @for(raw <- line) {
                                        <td>@raw</td>
                                    }
                                    </tr>
                                }
                            </table>

                            </div>
                        }
                    }
                }

            </div>
            <br/>
        }
    </div>
}