<div class="params">
  <div *ngIf="isJson; else simpleTextBlock" class="json">
    <mat-tab-group>
      <mat-tab label="Listed">
        <ng-template matTabContent>
          <ngx-json-viewer [json]="json"></ngx-json-viewer>
        </ng-template>
      </mat-tab>
      <mat-tab label="Json">
        <ng-template matTabContent>
          <pre>{{rawJson}}</pre>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>

  <ng-template #simpleTextBlock>
    <div class="long-text">
      {{ longText }}
    </div>
  </ng-template>
</div>
