<div class="params">
  <div *ngIf="isJson" class="json">
    <mat-tab-group>
      <mat-tab label="Listed">
        <ng-template matTabContent>
          <ngx-json-viewer [json]="json"></ngx-json-viewer>
        </ng-template>
      </mat-tab>
      <mat-tab label="Json">
        <ng-template matTabContent>
          <pre>{{rawJson}}</pre>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div *ngIf="!isJson && longTextType" class="long-text">
    <pre><code [ngClass]="'language-' + longTextType">{{longText}}</code></pre>
  </div>

  <div *ngIf="!isJson && !longTextType" class="long-text">
    {{ longText }}
  </div>
</div>
