@import "../../../../../stylesheets/backoffice";


.branch-text{
  padding-top: 5px;
  padding-left: 30px;
}

.branches{
  padding-top: 5px;
  padding-left: 50px;
  font-family: "courier";
  font-size: $font-size-text-small;
  width: 50%;
  max-width: 600px;
}

.stable-branch {
  font-weight: bold;
}

.features {
  padding-top: 5px;
  padding-left: 80px;
  display: inline-flex;
  flex-direction: column;
}

.feature {
  padding-top: 10px;
}

.feature-level0 {
  padding-left: 15px;
}

.feature-level1 {
  padding-left: 50px;
}

.feature-level2 {
  padding-left: 100px;
}

.feature-level3 {
  padding-left: 150px;
}

.feature-level4 {
  padding-left: 200px;
}

.feature-level5 {
  padding-left: 250px;
}
